<!--  TODO: css og setja fallega upp -->
<div ng-include="'src/components/nav-bar/nav-bar.html'"></div>
<div class="container well">
	
	<img ng-src="{{seller.imagePath}}" class="pull-left img-responsive" height="500" width="500" />
	<p class="pull-right">
		<p class="lead">{{seller.name}}</p>
		<p><em>{{seller.category}}</em></p>
	</p>
	<button class="btn btn-primary pull-right" ng-click="onAddProduct()">
		<span translate="products.Add" />
	</button>
</div>


<toaster-container></toaster-container>

<!--  TODO: implement tabs  -->
<product ng-repeat="p in products track by $index"></product>

