<!--  TODO: bootstrap og css -->
<nav ng-controller="NavBarController" class="navbar navbar-default">
	<div class="pull-right">
		<a href="" ng-click="translate('smu')"><img src="https://lh3.googleusercontent.com/--_WRZUEdZSw/Tg2ww_H8R9I/AAAAAAAAAL4/pvK4AEk90_8/w640-h400-p-k/photo.jpg" class="img-responsive pull-right" height="35" width="35" alt="Dabs"/></a>

		<a href="" ng-click="translate('en')"><img src="http://resources.woodlands-junior.kent.sch.uk/customs/images/uk.jpg" class="img-responsive pull-right" height="43" width="43" alt="English"/></a>

		<a href="" ng-click="translate('is')"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Light_Blue_Flag_of_Iceland.svg/2000px-Light_Blue_Flag_of_Iceland.svg.png" class="img-responsive pull-right" height="30" width="30" alt="Íslenska"/></a>
			
		
	</div>
</nav>